/******************************************************

		GERAL

*******************************************************/

body {
	background-color: rgb(231, 228, 228);
}



@-moz-keyframes spin {
	100% {
		-moz-transform: rotate(180deg);
	}
}

@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(180deg);
	}
}

@keyframes spin {
	100% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
}

/******************************************************

		CLASSES

*******************************************************/

.casaBranca {
	background-color: rgb(207, 207, 207);
	color: blueviolet;
}

.casaPreta {
	background-color: rgb(100, 100, 100);
	color: blueviolet;
}

.caminho {
	width: 55px;
	height: 55px;
	background-color: rgba(128, 236, 255, 0.699);
	border: none;
}

.semCaminho {
	width: 90%;
	height: 90%;
	background-color: rgba(128, 236, 255, 0);
	border: none;
}

.pecaInimiga {
	width: 55px;
	height: 55px;
	background-color: rgba(255, 137, 41, 0.808);
}

.tabuleiro {
	width: 20em;
	height: 20em;
	border: 2px solid black;
}

#cartasBrancas {
	width: 20em;
	height: 7em;
	border: 2px solid black;
	margin: auto;
	background-color: rgb(255, 243, 220);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

#cartasPretas {
	rotate: 180deg;
	width: 20em;
	height: 7em;
	border: 2px solid black;
	margin: auto;
	background-color: rgb(134, 134, 134);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

#cartaCentro {
	width: 7em;
	height: 7em;
	border: 2px solid black;
	background-color: rgb(186, 186, 186);
	display: flex;
	justify-content: center;
	align-items: center;
}

#tabuleiroCarta {
	display: flex;
	justify-content: center;
	align-items: center;
}

.carta {
	width: 4em;
	height: 5em;
	border: 2px solid black;
}

.carta:hover {
	width: 6em;
	height: 7em;
	border: 2px solid black;
}

.carta img {
	width: 100%;
	height: 100%;
}

.peca {
	width: 3em;
	height: 3em;
	margin: 0px;
	padding: 0px;
}

.promocaoBranco {
	width: 100px;
	height: 100px;
	margin: auto;
	padding: 20px;
}

.promocaoPreto {
	width: 100px;
	height: 100px;
	margin: auto;
	padding: 40px;
	transform: rotate(180deg);
}


/*




quadrado
.tabuleiro{
    width: 740px;
	height: 740px;
	border: 2px solid black;
	margin: auto;
}


tabela
.tabuleiro{
    width: 1600px;
	height: 200px;
}


.peca{
	width: 100%;
	height: 100%;
	margin: auto;
}
*/
/******************************************************

		IDS

*******************************************************/


#tabuleiro {}

#tabuleiro th {
	width: 20%;
	height: 20%;
}


#promocao {
	display: none;
	left: 20%;
	top: 15%;
	width: 800px;
	height: 400px;
	position: fixed;
	background-color: white;
	border: 2px solid gray;
	box-shadow: 0 0 2000px 2000px rgba(0, 0, 0, 0.3);
}





#promocao input {
	margin: 40px;
}








/*******************************************************/